.test
{
  color: #ba55d3;
  -webkit-text-stroke: 1px #ba55d3;
  font-family: 標楷體;
  font-size:25px;
  font-weight:bold;
}
body {
  background-image: url(https://cdn.discordapp.com/attachments/631711338296639498/1011907933543608330/20220505231821_1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
h1{
font-family:標楷體;
font-size: 30px;
color:#ee82ee;
text-shadow: 0.2em 0.2em 0.2em black
}
h2{
font-family:標楷體;
font-size: 25px;
color:#87cefa;
text-shadow: 0.2em 0.2em 0.2em black
}
h3{
font-family:標楷體;
font-size: 20px;
color:#00fa9a;
text-shadow: 0.2em 0.2em 0.2em black
}
h4{
font-family:標楷體;
font-size: 40px;
color:#afeeee;
text-shadow: 0.2em 0.2em 0.2em black
}
h5{
font-family:標楷體;
font-size: 40px;
color:#afeeee;
text-shadow: 0.2em 0.2em 0.2em black
}
